"*":
  core:
    disabledPackages: [
      "linter-jscs"
      "linter-jshint"
    ]
  editor:
    fontFamily: "Monaco"
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "3ef39475-d997-f1b9-af5a-372ced265981"
  jsformat:
    format_on_save: false
  linter: {}
  "linter-eslint": {}
  "linter-jshint": {}
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
